

<!-- Navigation -->
<nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
  <div class="container-fluid">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResp" >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResp">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="index.html">Nearby shops</a>
        <li>
        <li class="nav-item">
          <a class="nav-link" href="pictures.html">Preffered shops</a>
        <li>
      </ul>
    </div>
  </div>
</nav>


<router-outlet ></router-outlet>









