

<!-- Navigation -->
<nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
  <div class="container-fluid">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResp" >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResp">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="index.html">Nearby shops</a>
        <li>
        <li class="nav-item">
          <a class="nav-link" href="pictures.html">Preffered shops</a>
        <li>
      </ul>
    </div>
  </div>
</nav>



<!--- Cards -->
<br/>
<div class= "container">
  <div class="row padding">
    <div class="col-md-4 d-flex align-items-stretch">
      <div class="card">
        <h4> shop name 1 </h4>
          <img class ="card-img-top" src="assets/img/patients.jpg" height="300"/>
          <div class="card-body">
            <div style="text-align: center">
              <a href="patients.html" class="btn btn-outline-secondary" style="background-color:red; width: 45%"> dislike</a>
              <a href="patients.html" class="btn btn-outline-secondary" style="background-color:green; width: 45%"> like</a>
            </div>
          </div>
      </div>
    </div>

    <div class="col-md-4 d-flex align-items-stretch">
      <div class="card">
        <h4> shop name 2 </h4>
          <img class ="card-img-top" src="assets/img/patients.jpg" height="300"/>
          <div class="card-body">
            <div style="text-align: center">
              <a href="patients.html" class="btn btn-outline-secondary" style="background-color:red; width: 45%"> dislike</a>
              <a href="patients.html" class="btn btn-outline-secondary" style="background-color:green; width: 45%"> like</a>
            </div>
          </div>
      </div>
    </div>

    <div class="col-md-4 d-flex align-items-stretch">
      <div class="card">
        <h4> shop name 3 </h4>
          <img class ="card-img-top" src="assets/img/patients.jpg" height="300"/>
          <div class="card-body">
            <div style="text-align: center">
              <a href="patients.html" class="btn btn-outline-secondary" style="background-color:red; width: 45%"> dislike</a>
              <a href="patients.html" class="btn btn-outline-secondary" style="background-color:green; width: 45%"> like</a>
            </div>
          </div>
      </div>
    </div>
  </div>
  <br/>
  <div class="row padding">
    <div class="col-md-4 d-flex align-items-stretch">
      <div class="card">
        <h4> shop name 1 </h4>
          <img class ="card-img-top" src="assets/img/patients.jpg" height="300"/>
          <div class="card-body">
            <div style="text-align: center">
              <a href="patients.html" class="btn btn-outline-secondary" style="background-color:red; width: 45%"> dislike</a>
              <a href="patients.html" class="btn btn-outline-secondary" style="background-color:green; width: 45%"> like</a>
            </div>
          </div>
      </div>
    </div>

    <div class="col-md-4 d-flex align-items-stretch">
      <div class="card">
        <h4> shop name 2 </h4>
          <img class ="card-img-top" src="assets/img/patients.jpg" height="300"/>
          <div class="card-body">
            <div style="text-align: center">
              <a href="patients.html" class="btn btn-outline-secondary" style="background-color:red; width: 45%"> dislike</a>
              <a href="patients.html" class="btn btn-outline-secondary" style="background-color:green; width: 45%"> like</a>
            </div>
          </div>
      </div>
    </div>

    <div class="col-md-4 d-flex align-items-stretch">
      <div class="card">
        <h4> shop name 3 </h4>
          <img class ="card-img-top" src="assets/img/patients.jpg" height="300"/>
          <div class="card-body">
            <div style="text-align: center">
              <a href="patients.html" class="btn btn-outline-secondary" style="background-color:red; width: 45%"> dislike</a>
              <a href="patients.html" class="btn btn-outline-secondary" style="background-color:green; width: 45%"> like</a>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
<br/><br/>












