<br/>

<div class= "container">


  <div class="row padding mt-2"  *ngFor="let dummy of ' '.repeat(Math.ceil(shops.length / 3)).split(''), let i = index">

    <div class="col-md-4 d-flex align-items-stretch " *ngFor="let s of shops.slice(3*i, 3*(i+1)) ">

      <div class="card">
        <h4> {{s.name}} </h4>
        <img class ="card-img-top" src={{s.picture}} height="300"/>
        <div class="card-body">
          <div style="text-align: center">
            <button  class="btn btn-outline-danger m-1" style="width: 60%" (click)="removeLikedShop(s)" >remove </button>
          </div>
        </div>
      </div>

    </div>


  </div>

  <div class="mt-2">
    <ul class="pagination" *ngIf=" page == 1">
      <li class="page-item"><a class="page-link" style="color:dodgerblue;">1</a></li>
      <li class="page-item"><a class="page-link" (click)="pageChange(2)">2</a></li>
      <li class="page-item"><a class="page-link" (click)="pageChange(3)">3</a></li>
    </ul>
    <ul class="pagination" *ngIf=" page != 1">
      <li class="page-item"><a class="page-link" (click)="pageChange(page- 1)">{{page - 1}}</a></li>
      <li class="page-item"><a class="page-link" style="color:dodgerblue;" (click)="pageChange(page)">{{page}}</a></li>
      <li class="page-item"><a class="page-link" (click)="pageChange(page +1)">{{page + 1}}</a></li>
    </ul>
  </div>
</div>



